 
 nav{
    display: flex;
    justify-content: space-between;
 }
 
 
 nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
   
}
nav ul a{
    text-decoration: none;
} 
h1{
    text-align: center;
    color: blueviolet;
}
img{
    width: 100%;

}
